{
  "openapi": "3.0.1",
  "info": {
    "title": "Walrus mainnet API",
    "description": "This is the new API Module implementation. The Walrus Blockchain API is used to retrieve Walrus Blockchain data. In order to execute queries you need to get API Key and use it in header 'x-api-key'. However, before that you need to sign up on the explorer or company website. If an account is created on the website <strong>https://staketab.com/</strong> or <strong>https://walruscan.com/</strong>, the user will be granted the <strong>ROLE_USER</strong> role. After that you may fetch API KEY.",
    "termsOfService": "terms-of-service",
    "contact": {
      "name": "Staketab tech support",
      "url": "https://staketab.com/",
      "email": "support@staketab.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.blockberry.one/walrus-mainnet",
      "description": "Production"
    }
  ],
  "security": [
    {
      "x-api-key": []
    }
  ],
  "paths": {
    "/v1/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "getAccounts",
        "description": "Get a list of all accounts on the Network.",
        "operationId": "getAccounts_1",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Queried API page.",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of queried entries.",
            "required": true,
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting method: from the lowest element to the highest (ASC) or from the highest element to the lowest (DESC).",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DESC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Select sorting parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Select sorting parameter.",
              "default": "BALANCE",
              "enum": [
                "EVENTS",
                "BLOBS",
                "BALANCE",
                "FIRST_SEEN",
                "LAST_SEEN"
              ]
            }
          },
          {
            "name": "searchStr",
            "in": "query",
            "description": "Enter part or full validator name or address to get the queried validator.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalElements": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "offset": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "sort": {
                          "type": "object",
                          "properties": {
                            "sorted": {
                              "type": "boolean"
                            },
                            "empty": {
                              "type": "boolean"
                            },
                            "unsorted": {
                              "type": "boolean"
                            }
                          }
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      }
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "firstSeen": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "lastSeen": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "events": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "blobs": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "balance": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "sort": {
                      "type": "object",
                      "properties": {
                        "sorted": {
                          "type": "boolean"
                        },
                        "empty": {
                          "type": "boolean"
                        },
                        "unsorted": {
                          "type": "boolean"
                        }
                      }
                    },
                    "numberOfElements": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "getAccountByHash",
        "description": "Get account details by address.",
        "operationId": "getAccountByHash",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Queried address digest (hash).",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Queried address digest (hash).",
              "default": "0x4e4d9cfd64ebb1f78dc960300bf4da1d33470050364b4e5f242255709f683ce1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string"
                    },
                    "firstSeen": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "lastSeen": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "events": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "blobs": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "balance": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/blobs": {
      "get": {
        "tags": [
          "Blobs"
        ],
        "summary": "getBlobs",
        "description": "Get a list of all blobs on the Network.",
        "operationId": "getBlobs",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Queried API page.",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of queried entries.",
            "required": true,
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting method: from the lowest element to the highest (ASC) or from the highest element to the lowest (DESC).",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DESC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Select sorting parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Select sorting parameter.",
              "default": "TIMESTAMP",
              "enum": [
                "START_EPOCH",
                "END_EPOCH",
                "SIZE",
                "TIMESTAMP"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalElements": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "offset": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "sort": {
                          "type": "object",
                          "properties": {
                            "sorted": {
                              "type": "boolean"
                            },
                            "empty": {
                              "type": "boolean"
                            },
                            "unsorted": {
                              "type": "boolean"
                            }
                          }
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      }
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blobId": {
                            "type": "string"
                          },
                          "blobIdBase64": {
                            "type": "string"
                          },
                          "objectId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "startEpoch": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "endEpoch": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "size": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "timestamp": {
                            "type": "integer",
                            "format": "int64"
                          }
                        }
                      }
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "sort": {
                      "type": "object",
                      "properties": {
                        "sorted": {
                          "type": "boolean"
                        },
                        "empty": {
                          "type": "boolean"
                        },
                        "unsorted": {
                          "type": "boolean"
                        }
                      }
                    },
                    "numberOfElements": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/blobs/accounts/{address}": {
      "get": {
        "tags": [
          "Blobs"
        ],
        "summary": "getAccountBlobs",
        "description": "Get a list of all blobs to the queried account address.",
        "operationId": "getAccountBlobs",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Queried API page.",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of queried entries.",
            "required": true,
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting method: from the lowest element to the highest (ASC) or from the highest element to the lowest (DESC).",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DESC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Select sorting parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Select sorting parameter.",
              "default": "TIMESTAMP",
              "enum": [
                "START_EPOCH",
                "END_EPOCH",
                "SIZE",
                "TIMESTAMP"
              ]
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "Queried address digest (hash).",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Queried address digest (hash).",
              "default": "0xe2964015d71c8c054af6a5b3601762bc901d94e822b3f8c24a156f1f3f5ee060"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalElements": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "offset": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "sort": {
                          "type": "object",
                          "properties": {
                            "sorted": {
                              "type": "boolean"
                            },
                            "empty": {
                              "type": "boolean"
                            },
                            "unsorted": {
                              "type": "boolean"
                            }
                          }
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      }
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blobId": {
                            "type": "string"
                          },
                          "blobIdBase64": {
                            "type": "string"
                          },
                          "objectId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "startEpoch": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "endEpoch": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "size": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "timestamp": {
                            "type": "integer",
                            "format": "int64"
                          }
                        }
                      }
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "sort": {
                      "type": "object",
                      "properties": {
                        "sorted": {
                          "type": "boolean"
                        },
                        "empty": {
                          "type": "boolean"
                        },
                        "unsorted": {
                          "type": "boolean"
                        }
                      }
                    },
                    "numberOfElements": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/blobs/{id}": {
      "get": {
        "tags": [
          "Blobs"
        ],
        "summary": "getBlobById",
        "description": "Get blob details by id.",
        "operationId": "getBlobById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Queried blob id.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Queried blob id.",
              "default": "xC9Ic2CAzLmVQq78BV5gww_cbZv00aCyVCXhEab1ijE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blobId": {
                      "type": "string"
                    },
                    "blobIdBase64": {
                      "type": "string"
                    },
                    "senderAddress": {
                      "type": "string"
                    },
                    "senderName": {
                      "type": "string"
                    },
                    "senderImg": {
                      "type": "string"
                    },
                    "suiObjectId": {
                      "type": "string"
                    },
                    "startEpoch": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "endEpoch": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "size": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "suiPackageId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/validators": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "getValidators",
        "description": "Get a list of all validators on the Network.",
        "operationId": "getValidators",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Queried API page.",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of queried entries.",
            "required": true,
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting method: from the lowest element to the highest (ASC) or from the highest element to the lowest (DESC).",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DESC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Select sorting parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Select sorting parameter.",
              "default": "STAKE",
              "enum": [
                "VALIDATOR_NAME",
                "COMMISSION_RATE",
                "STATUS",
                "STAKE"
              ]
            }
          },
          {
            "name": "validatorTypes",
            "in": "query",
            "required": false,
            "schema": {
              "maxItems": 2,
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "description": "The types of queried objects.",
                "enum": [
                  "Commitee",
                  "nonCommitee"
                ]
              }
            }
          },
          {
            "name": "validatorStatuses",
            "in": "query",
            "required": false,
            "schema": {
              "maxItems": 2,
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "description": "The statuses of validators.",
                "enum": [
                  "New",
                  "Active"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalElements": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "offset": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "sort": {
                          "type": "object",
                          "properties": {
                            "sorted": {
                              "type": "boolean"
                            },
                            "empty": {
                              "type": "boolean"
                            },
                            "unsorted": {
                              "type": "boolean"
                            }
                          }
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      }
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "validatorHash": {
                            "type": "string"
                          },
                          "validatorName": {
                            "type": "string"
                          },
                          "commissionRate": {
                            "type": "number"
                          },
                          "nextCommissionRate": {
                            "type": "number"
                          },
                          "stake": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string"
                          },
                          "activationEpoch": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "latestEpoch": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "poolTokenBalance": {
                            "type": "number"
                          },
                          "rewardsPool": {
                            "type": "number"
                          },
                          "walBalance": {
                            "type": "number"
                          },
                          "nodeCapacity": {
                            "type": "number"
                          },
                          "storagePrice": {
                            "type": "number"
                          },
                          "writePrice": {
                            "type": "number"
                          },
                          "poolShare": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "description": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "projectUrl": {
                            "type": "string"
                          },
                          "commissionReceiver": {
                            "type": "string"
                          },
                          "governanceAuthorized": {
                            "type": "string"
                          },
                          "pendingStake": {
                            "type": "number"
                          },
                          "preActiveWithdrawals": {
                            "type": "number"
                          },
                          "pendingShareWithdrawals": {
                            "type": "number"
                          },
                          "operatorRewards": {
                            "type": "number"
                          },
                          "operator": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "sort": {
                      "type": "object",
                      "properties": {
                        "sorted": {
                          "type": "boolean"
                        },
                        "empty": {
                          "type": "boolean"
                        },
                        "unsorted": {
                          "type": "boolean"
                        }
                      }
                    },
                    "numberOfElements": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/validators/{address}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "getValidatorByAddress",
        "description": "Get validator details by address.",
        "operationId": "getValidatorByAddress",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Queried validator address digest (hash).",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Queried validator address digest (hash).",
              "default": "0x248a6e1a20a83623179856ea69a38efcfd16cb7fdb5d5dba494adb98ac7f66bb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "validatorHash": {
                      "type": "string"
                    },
                    "validatorName": {
                      "type": "string"
                    },
                    "commissionRate": {
                      "type": "number"
                    },
                    "nextCommissionRate": {
                      "type": "number"
                    },
                    "stake": {
                      "type": "number"
                    },
                    "state": {
                      "type": "string"
                    },
                    "activationEpoch": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "latestEpoch": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "poolTokenBalance": {
                      "type": "number"
                    },
                    "rewardsPool": {
                      "type": "number"
                    },
                    "walBalance": {
                      "type": "number"
                    },
                    "nodeCapacity": {
                      "type": "number"
                    },
                    "storagePrice": {
                      "type": "number"
                    },
                    "writePrice": {
                      "type": "number"
                    },
                    "poolShare": {
                      "type": "number"
                    },
                    "weight": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "description": {
                      "type": "string"
                    },
                    "imageUrl": {
                      "type": "string"
                    },
                    "projectUrl": {
                      "type": "string"
                    },
                    "commissionReceiver": {
                      "type": "string"
                    },
                    "governanceAuthorized": {
                      "type": "string"
                    },
                    "pendingStake": {
                      "type": "number"
                    },
                    "preActiveWithdrawals": {
                      "type": "number"
                    },
                    "pendingShareWithdrawals": {
                      "type": "number"
                    },
                    "operatorRewards": {
                      "type": "number"
                    },
                    "operator": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/validators/{address}/delegators": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "getDelegatorsByValidator",
        "description": "Get a list of all accounts that delegated funds to the queried validator.",
        "operationId": "getDelegatorsByValidator",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Queried API page.",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of queried entries.",
            "required": true,
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting method: from the lowest element to the highest (ASC) or from the highest element to the lowest (DESC).",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DESC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Select sorting parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Select sorting parameter.",
              "default": "AMOUNT",
              "enum": [
                "AMOUNT",
                "ACTIVATION_EPOCH"
              ]
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "Queried validator address digest (hash).",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Queried validator address digest (hash).",
              "default": "0x248a6e1a20a83623179856ea69a38efcfd16cb7fdb5d5dba494adb98ac7f66bb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalElements": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "offset": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "sort": {
                          "type": "object",
                          "properties": {
                            "sorted": {
                              "type": "boolean"
                            },
                            "empty": {
                              "type": "boolean"
                            },
                            "unsorted": {
                              "type": "boolean"
                            }
                          }
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      }
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "owner": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "activationEpoch": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "timestamp": {
                            "type": "integer",
                            "format": "int64"
                          }
                        }
                      }
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "sort": {
                      "type": "object",
                      "properties": {
                        "sorted": {
                          "type": "boolean"
                        },
                        "empty": {
                          "type": "boolean"
                        },
                        "unsorted": {
                          "type": "boolean"
                        }
                      }
                    },
                    "numberOfElements": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/validators/{address}/staking-history": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "getDelegationsByValidator",
        "description": "Get a staking history of delegated funds to the queried validator.",
        "operationId": "getDelegationsByValidator",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Queried API page.",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of queried entries.",
            "required": true,
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting method: from the lowest element to the highest (ASC) or from the highest element to the lowest (DESC).",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DESC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Select sorting parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Select sorting parameter.",
              "default": "TIMESTAMP",
              "enum": [
                "AMOUNT",
                "TIMESTAMP",
                "ACTIVATION_EPOCH"
              ]
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "Queried validator address digest (hash).",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Queried validator address digest (hash).",
              "default": "0x248a6e1a20a83623179856ea69a38efcfd16cb7fdb5d5dba494adb98ac7f66bb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalElements": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "offset": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "sort": {
                          "type": "object",
                          "properties": {
                            "sorted": {
                              "type": "boolean"
                            },
                            "empty": {
                              "type": "boolean"
                            },
                            "unsorted": {
                              "type": "boolean"
                            }
                          }
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      }
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "owner": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "activationEpoch": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "timestamp": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "objectId": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "txDigest": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "sort": {
                      "type": "object",
                      "properties": {
                        "sorted": {
                          "type": "boolean"
                        },
                        "empty": {
                          "type": "boolean"
                        },
                        "unsorted": {
                          "type": "boolean"
                        }
                      }
                    },
                    "numberOfElements": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/widgets/avg-blob-size": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "getAvgBlobSizeChart",
        "description": "Get a chart showing the average blob size throughout the Network for the selected period.",
        "operationId": "getAvgBlobSizeChart",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "Chart period.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Chart period.",
              "default": "24H",
              "enum": [
                "24H"
              ]
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of queried entries.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Number of queried entries.",
              "default": "SMALL",
              "enum": [
                "SMALL",
                "LARGE"
              ]
            }
          },
          {
            "name": "widgetPage",
            "in": "query",
            "description": "The page on which the chart is shown.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The page on which the chart is shown.",
              "default": "HOME",
              "enum": [
                "HOME",
                "ANALYTICS"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "format": "double"
                    },
                    "changeValue": {
                      "type": "number",
                      "format": "double"
                    },
                    "changePercent": {
                      "type": "number",
                      "format": "double"
                    },
                    "additionalValue": {
                      "type": "number",
                      "format": "double"
                    },
                    "maxRate": {
                      "type": "number",
                      "format": "double"
                    },
                    "changeRate": {
                      "type": "number",
                      "format": "double"
                    },
                    "changePeriod": {
                      "type": "string"
                    },
                    "noChanges": {
                      "type": "boolean"
                    },
                    "chart": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "double"
                          },
                          "timestamp": {
                            "type": "integer",
                            "format": "int64"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/widgets/total-accounts": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "getAccountsCountChart",
        "description": "Get a chart showing the total number of accounts on the Network for the selected period.",
        "operationId": "getAccountsCountChart",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "Chart period.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Chart period.",
              "default": "24H",
              "enum": [
                "24H"
              ]
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of queried entries.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Number of queried entries.",
              "default": "SMALL",
              "enum": [
                "SMALL",
                "LARGE"
              ]
            }
          },
          {
            "name": "widgetPage",
            "in": "query",
            "description": "The page on which the chart is shown.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The page on which the chart is shown.",
              "default": "HOME",
              "enum": [
                "HOME",
                "ANALYTICS"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "format": "double"
                    },
                    "changeValue": {
                      "type": "number",
                      "format": "double"
                    },
                    "changePercent": {
                      "type": "number",
                      "format": "double"
                    },
                    "additionalValue": {
                      "type": "number",
                      "format": "double"
                    },
                    "maxRate": {
                      "type": "number",
                      "format": "double"
                    },
                    "changeRate": {
                      "type": "number",
                      "format": "double"
                    },
                    "changePeriod": {
                      "type": "string"
                    },
                    "noChanges": {
                      "type": "boolean"
                    },
                    "chart": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "double"
                          },
                          "timestamp": {
                            "type": "integer",
                            "format": "int64"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/widgets/total-blobs": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "getBlobsCountChart",
        "description": "Get a chart showing the total number of blobs on the Network for the selected period.",
        "operationId": "getBlobsCountChart",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "Chart period.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Chart period.",
              "default": "24H",
              "enum": [
                "24H"
              ]
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of queried entries.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Number of queried entries.",
              "default": "SMALL",
              "enum": [
                "SMALL",
                "LARGE"
              ]
            }
          },
          {
            "name": "widgetPage",
            "in": "query",
            "description": "The page on which the chart is shown.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The page on which the chart is shown.",
              "default": "HOME",
              "enum": [
                "HOME",
                "ANALYTICS"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "format": "double"
                    },
                    "changeValue": {
                      "type": "number",
                      "format": "double"
                    },
                    "changePercent": {
                      "type": "number",
                      "format": "double"
                    },
                    "additionalValue": {
                      "type": "number",
                      "format": "double"
                    },
                    "maxRate": {
                      "type": "number",
                      "format": "double"
                    },
                    "changeRate": {
                      "type": "number",
                      "format": "double"
                    },
                    "changePeriod": {
                      "type": "string"
                    },
                    "noChanges": {
                      "type": "boolean"
                    },
                    "chart": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "double"
                          },
                          "timestamp": {
                            "type": "integer",
                            "format": "int64"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiRateLimitsPutRequest": {
        "type": "object",
        "properties": {
          "windowSizeMs": {
            "type": "integer",
            "format": "int32"
          },
          "requestsPerWindow": {
            "type": "integer",
            "format": "int32"
          },
          "maxParallelRequests": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ApiRateLimits": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "windowSizeMs": {
            "type": "integer",
            "format": "int32"
          },
          "requestsPerWindow": {
            "type": "integer",
            "format": "int32"
          },
          "maxParallelRequests": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ValidatorSearchParams": {
        "type": "object",
        "properties": {
          "validatorTypes": {
            "maxItems": 2,
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string",
              "description": "The types of queried objects.",
              "enum": [
                "Commitee",
                "nonCommitee"
              ]
            }
          },
          "validatorStatuses": {
            "maxItems": 2,
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string",
              "description": "The statuses of validators.",
              "enum": [
                "New",
                "Active"
              ]
            }
          }
        }
      },
      "PageWalrusValidatorDTO": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "pageable": {
            "type": "object",
            "properties": {
              "pageNumber": {
                "type": "integer",
                "format": "int32"
              },
              "pageSize": {
                "type": "integer",
                "format": "int32"
              },
              "offset": {
                "type": "integer",
                "format": "int64"
              },
              "sort": {
                "type": "object",
                "properties": {
                  "sorted": {
                    "type": "boolean"
                  },
                  "empty": {
                    "type": "boolean"
                  },
                  "unsorted": {
                    "type": "boolean"
                  }
                }
              },
              "paged": {
                "type": "boolean"
              },
              "unpaged": {
                "type": "boolean"
              }
            }
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "content": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "validatorHash": {
                  "type": "string"
                },
                "validatorName": {
                  "type": "string"
                },
                "commissionRate": {
                  "type": "number"
                },
                "nextCommissionRate": {
                  "type": "number"
                },
                "stake": {
                  "type": "number"
                },
                "state": {
                  "type": "string"
                },
                "activationEpoch": {
                  "type": "integer",
                  "format": "int32"
                },
                "latestEpoch": {
                  "type": "integer",
                  "format": "int32"
                },
                "poolTokenBalance": {
                  "type": "number"
                },
                "rewardsPool": {
                  "type": "number"
                },
                "walBalance": {
                  "type": "number"
                },
                "nodeCapacity": {
                  "type": "number"
                },
                "storagePrice": {
                  "type": "number"
                },
                "writePrice": {
                  "type": "number"
                },
                "poolShare": {
                  "type": "number"
                },
                "weight": {
                  "type": "integer",
                  "format": "int32"
                },
                "description": {
                  "type": "string"
                },
                "imageUrl": {
                  "type": "string"
                },
                "projectUrl": {
                  "type": "string"
                },
                "commissionReceiver": {
                  "type": "string"
                },
                "governanceAuthorized": {
                  "type": "string"
                },
                "pendingStake": {
                  "type": "number"
                },
                "preActiveWithdrawals": {
                  "type": "number"
                },
                "pendingShareWithdrawals": {
                  "type": "number"
                },
                "operatorRewards": {
                  "type": "number"
                },
                "operator": {
                  "type": "boolean"
                }
              }
            }
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "object",
            "properties": {
              "sorted": {
                "type": "boolean"
              },
              "empty": {
                "type": "boolean"
              },
              "unsorted": {
                "type": "boolean"
              }
            }
          },
          "numberOfElements": {
            "type": "integer",
            "format": "int32"
          },
          "first": {
            "type": "boolean"
          },
          "last": {
            "type": "boolean"
          },
          "empty": {
            "type": "boolean"
          }
        }
      },
      "PageableObject": {
        "type": "object",
        "properties": {
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "offset": {
            "type": "integer",
            "format": "int64"
          },
          "sort": {
            "type": "object",
            "properties": {
              "sorted": {
                "type": "boolean"
              },
              "empty": {
                "type": "boolean"
              },
              "unsorted": {
                "type": "boolean"
              }
            }
          },
          "paged": {
            "type": "boolean"
          },
          "unpaged": {
            "type": "boolean"
          }
        }
      },
      "SortObject": {
        "type": "object",
        "properties": {
          "sorted": {
            "type": "boolean"
          },
          "empty": {
            "type": "boolean"
          },
          "unsorted": {
            "type": "boolean"
          }
        }
      },
      "WalrusValidatorDTO": {
        "type": "object",
        "properties": {
          "validatorHash": {
            "type": "string"
          },
          "validatorName": {
            "type": "string"
          },
          "commissionRate": {
            "type": "number"
          },
          "nextCommissionRate": {
            "type": "number"
          },
          "stake": {
            "type": "number"
          },
          "state": {
            "type": "string"
          },
          "activationEpoch": {
            "type": "integer",
            "format": "int32"
          },
          "latestEpoch": {
            "type": "integer",
            "format": "int32"
          },
          "poolTokenBalance": {
            "type": "number"
          },
          "rewardsPool": {
            "type": "number"
          },
          "walBalance": {
            "type": "number"
          },
          "nodeCapacity": {
            "type": "number"
          },
          "storagePrice": {
            "type": "number"
          },
          "writePrice": {
            "type": "number"
          },
          "poolShare": {
            "type": "number"
          },
          "weight": {
            "type": "integer",
            "format": "int32"
          },
          "description": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          },
          "projectUrl": {
            "type": "string"
          },
          "commissionReceiver": {
            "type": "string"
          },
          "governanceAuthorized": {
            "type": "string"
          },
          "pendingStake": {
            "type": "number"
          },
          "preActiveWithdrawals": {
            "type": "number"
          },
          "pendingShareWithdrawals": {
            "type": "number"
          },
          "operatorRewards": {
            "type": "number"
          },
          "operator": {
            "type": "boolean"
          }
        }
      },
      "ChartEpochDot": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "format": "double"
          },
          "epoch": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "LineChartWidgetChartEpochDot": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "format": "double"
          },
          "changeValue": {
            "type": "number",
            "format": "double"
          },
          "changePercent": {
            "type": "number",
            "format": "double"
          },
          "additionalValue": {
            "type": "number",
            "format": "double"
          },
          "maxRate": {
            "type": "number",
            "format": "double"
          },
          "changeRate": {
            "type": "number",
            "format": "double"
          },
          "changePeriod": {
            "type": "string"
          },
          "noChanges": {
            "type": "boolean"
          },
          "chart": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "number",
                  "format": "double"
                },
                "epoch": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      },
      "ChartTimestampDot": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "format": "double"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "LineChartWidgetChartTimestampDot": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "format": "double"
          },
          "changeValue": {
            "type": "number",
            "format": "double"
          },
          "changePercent": {
            "type": "number",
            "format": "double"
          },
          "additionalValue": {
            "type": "number",
            "format": "double"
          },
          "maxRate": {
            "type": "number",
            "format": "double"
          },
          "changeRate": {
            "type": "number",
            "format": "double"
          },
          "changePeriod": {
            "type": "string"
          },
          "noChanges": {
            "type": "boolean"
          },
          "chart": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "number",
                  "format": "double"
                },
                "timestamp": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      },
      "TokenRateDto": {
        "type": "object",
        "properties": {
          "price": {
            "type": "number",
            "format": "double"
          },
          "change24h": {
            "type": "number",
            "format": "double"
          },
          "updateTimestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PageWalrusValidatorStakingHistoryDTO": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "pageable": {
            "type": "object",
            "properties": {
              "pageNumber": {
                "type": "integer",
                "format": "int32"
              },
              "pageSize": {
                "type": "integer",
                "format": "int32"
              },
              "offset": {
                "type": "integer",
                "format": "int64"
              },
              "sort": {
                "type": "object",
                "properties": {
                  "sorted": {
                    "type": "boolean"
                  },
                  "empty": {
                    "type": "boolean"
                  },
                  "unsorted": {
                    "type": "boolean"
                  }
                }
              },
              "paged": {
                "type": "boolean"
              },
              "unpaged": {
                "type": "boolean"
              }
            }
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "content": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "owner": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "activationEpoch": {
                  "type": "integer",
                  "format": "int32"
                },
                "timestamp": {
                  "type": "integer",
                  "format": "int64"
                },
                "objectId": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "txDigest": {
                  "type": "string"
                }
              }
            }
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "object",
            "properties": {
              "sorted": {
                "type": "boolean"
              },
              "empty": {
                "type": "boolean"
              },
              "unsorted": {
                "type": "boolean"
              }
            }
          },
          "numberOfElements": {
            "type": "integer",
            "format": "int32"
          },
          "first": {
            "type": "boolean"
          },
          "last": {
            "type": "boolean"
          },
          "empty": {
            "type": "boolean"
          }
        }
      },
      "WalrusValidatorStakingHistoryDTO": {
        "type": "object",
        "properties": {
          "owner": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "activationEpoch": {
            "type": "integer",
            "format": "int32"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "objectId": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "txDigest": {
            "type": "string"
          }
        }
      },
      "PageWalrusValidatorDelegatorDTO": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "pageable": {
            "type": "object",
            "properties": {
              "pageNumber": {
                "type": "integer",
                "format": "int32"
              },
              "pageSize": {
                "type": "integer",
                "format": "int32"
              },
              "offset": {
                "type": "integer",
                "format": "int64"
              },
              "sort": {
                "type": "object",
                "properties": {
                  "sorted": {
                    "type": "boolean"
                  },
                  "empty": {
                    "type": "boolean"
                  },
                  "unsorted": {
                    "type": "boolean"
                  }
                }
              },
              "paged": {
                "type": "boolean"
              },
              "unpaged": {
                "type": "boolean"
              }
            }
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "content": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "owner": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "activationEpoch": {
                  "type": "integer",
                  "format": "int32"
                },
                "timestamp": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "object",
            "properties": {
              "sorted": {
                "type": "boolean"
              },
              "empty": {
                "type": "boolean"
              },
              "unsorted": {
                "type": "boolean"
              }
            }
          },
          "numberOfElements": {
            "type": "integer",
            "format": "int32"
          },
          "first": {
            "type": "boolean"
          },
          "last": {
            "type": "boolean"
          },
          "empty": {
            "type": "boolean"
          }
        }
      },
      "WalrusValidatorDelegatorDTO": {
        "type": "object",
        "properties": {
          "owner": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "activationEpoch": {
            "type": "integer",
            "format": "int32"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PageWalrusSiteDTO": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "pageable": {
            "type": "object",
            "properties": {
              "pageNumber": {
                "type": "integer",
                "format": "int32"
              },
              "pageSize": {
                "type": "integer",
                "format": "int32"
              },
              "offset": {
                "type": "integer",
                "format": "int64"
              },
              "sort": {
                "type": "object",
                "properties": {
                  "sorted": {
                    "type": "boolean"
                  },
                  "empty": {
                    "type": "boolean"
                  },
                  "unsorted": {
                    "type": "boolean"
                  }
                }
              },
              "paged": {
                "type": "boolean"
              },
              "unpaged": {
                "type": "boolean"
              }
            }
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "content": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "objectId": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "creator": {
                  "type": "string"
                },
                "createTimestamp": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "object",
            "properties": {
              "sorted": {
                "type": "boolean"
              },
              "empty": {
                "type": "boolean"
              },
              "unsorted": {
                "type": "boolean"
              }
            }
          },
          "numberOfElements": {
            "type": "integer",
            "format": "int32"
          },
          "first": {
            "type": "boolean"
          },
          "last": {
            "type": "boolean"
          },
          "empty": {
            "type": "boolean"
          }
        }
      },
      "WalrusSiteDTO": {
        "type": "object",
        "properties": {
          "objectId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "creator": {
            "type": "string"
          },
          "createTimestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "DashboardDto": {
        "type": "object",
        "properties": {
          "totalOperators": {
            "type": "integer",
            "format": "int64"
          },
          "totalBlobEvents": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PageWalrusBlobDTO": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "pageable": {
            "type": "object",
            "properties": {
              "pageNumber": {
                "type": "integer",
                "format": "int32"
              },
              "pageSize": {
                "type": "integer",
                "format": "int32"
              },
              "offset": {
                "type": "integer",
                "format": "int64"
              },
              "sort": {
                "type": "object",
                "properties": {
                  "sorted": {
                    "type": "boolean"
                  },
                  "empty": {
                    "type": "boolean"
                  },
                  "unsorted": {
                    "type": "boolean"
                  }
                }
              },
              "paged": {
                "type": "boolean"
              },
              "unpaged": {
                "type": "boolean"
              }
            }
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "content": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "blobId": {
                  "type": "string"
                },
                "blobIdBase64": {
                  "type": "string"
                },
                "objectId": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "startEpoch": {
                  "type": "integer",
                  "format": "int32"
                },
                "endEpoch": {
                  "type": "integer",
                  "format": "int32"
                },
                "size": {
                  "type": "integer",
                  "format": "int64"
                },
                "timestamp": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "object",
            "properties": {
              "sorted": {
                "type": "boolean"
              },
              "empty": {
                "type": "boolean"
              },
              "unsorted": {
                "type": "boolean"
              }
            }
          },
          "numberOfElements": {
            "type": "integer",
            "format": "int32"
          },
          "first": {
            "type": "boolean"
          },
          "last": {
            "type": "boolean"
          },
          "empty": {
            "type": "boolean"
          }
        }
      },
      "WalrusBlobDTO": {
        "type": "object",
        "properties": {
          "blobId": {
            "type": "string"
          },
          "blobIdBase64": {
            "type": "string"
          },
          "objectId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "startEpoch": {
            "type": "integer",
            "format": "int32"
          },
          "endEpoch": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int64"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "WalrusBlobDetailsDTO": {
        "type": "object",
        "properties": {
          "blobId": {
            "type": "string"
          },
          "blobIdBase64": {
            "type": "string"
          },
          "senderAddress": {
            "type": "string"
          },
          "senderName": {
            "type": "string"
          },
          "senderImg": {
            "type": "string"
          },
          "suiObjectId": {
            "type": "string"
          },
          "startEpoch": {
            "type": "integer",
            "format": "int32"
          },
          "endEpoch": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int64"
          },
          "suiPackageId": {
            "type": "string"
          }
        }
      },
      "PageWalrusBlobObjectDetailsDTO": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "pageable": {
            "type": "object",
            "properties": {
              "pageNumber": {
                "type": "integer",
                "format": "int32"
              },
              "pageSize": {
                "type": "integer",
                "format": "int32"
              },
              "offset": {
                "type": "integer",
                "format": "int64"
              },
              "sort": {
                "type": "object",
                "properties": {
                  "sorted": {
                    "type": "boolean"
                  },
                  "empty": {
                    "type": "boolean"
                  },
                  "unsorted": {
                    "type": "boolean"
                  }
                }
              },
              "paged": {
                "type": "boolean"
              },
              "unpaged": {
                "type": "boolean"
              }
            }
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "content": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "senderAddress": {
                  "type": "string"
                },
                "senderName": {
                  "type": "string"
                },
                "senderImg": {
                  "type": "string"
                },
                "suiObjectId": {
                  "type": "string"
                },
                "startEpoch": {
                  "type": "integer",
                  "format": "int32"
                },
                "endEpoch": {
                  "type": "integer",
                  "format": "int32"
                },
                "size": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "object",
            "properties": {
              "sorted": {
                "type": "boolean"
              },
              "empty": {
                "type": "boolean"
              },
              "unsorted": {
                "type": "boolean"
              }
            }
          },
          "numberOfElements": {
            "type": "integer",
            "format": "int32"
          },
          "first": {
            "type": "boolean"
          },
          "last": {
            "type": "boolean"
          },
          "empty": {
            "type": "boolean"
          }
        }
      },
      "WalrusBlobObjectDetailsDTO": {
        "type": "object",
        "properties": {
          "senderAddress": {
            "type": "string"
          },
          "senderName": {
            "type": "string"
          },
          "senderImg": {
            "type": "string"
          },
          "suiObjectId": {
            "type": "string"
          },
          "startEpoch": {
            "type": "integer",
            "format": "int32"
          },
          "endEpoch": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CutPageWalrusBlobDTO": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "writeOnly": true,
            "items": {
              "type": "object",
              "properties": {
                "blobId": {
                  "type": "string"
                },
                "blobIdBase64": {
                  "type": "string"
                },
                "objectId": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "startEpoch": {
                  "type": "integer",
                  "format": "int32"
                },
                "endEpoch": {
                  "type": "integer",
                  "format": "int32"
                },
                "size": {
                  "type": "integer",
                  "format": "int64"
                },
                "timestamp": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "currentPage": {
            "type": "integer",
            "format": "int32",
            "writeOnly": true
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "format": "int64",
            "writeOnly": true
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "totalCount": {
            "type": "integer",
            "format": "int64"
          },
          "content": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "blobId": {
                  "type": "string"
                },
                "blobIdBase64": {
                  "type": "string"
                },
                "objectId": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "startEpoch": {
                  "type": "integer",
                  "format": "int32"
                },
                "endEpoch": {
                  "type": "integer",
                  "format": "int32"
                },
                "size": {
                  "type": "integer",
                  "format": "int64"
                },
                "timestamp": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "pageable": {
            "type": "object",
            "properties": {
              "pageNumber": {
                "type": "integer",
                "format": "int32"
              },
              "pageSize": {
                "type": "integer",
                "format": "int32"
              },
              "offset": {
                "type": "integer",
                "format": "int64"
              },
              "sort": {
                "type": "object",
                "properties": {
                  "sorted": {
                    "type": "boolean"
                  },
                  "empty": {
                    "type": "boolean"
                  },
                  "unsorted": {
                    "type": "boolean"
                  }
                }
              },
              "paged": {
                "type": "boolean"
              },
              "unpaged": {
                "type": "boolean"
              }
            }
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "last": {
            "type": "boolean"
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "object",
            "properties": {
              "sorted": {
                "type": "boolean"
              },
              "empty": {
                "type": "boolean"
              },
              "unsorted": {
                "type": "boolean"
              }
            }
          },
          "numberOfElements": {
            "type": "integer",
            "format": "int32"
          },
          "first": {
            "type": "boolean"
          },
          "empty": {
            "type": "boolean"
          }
        }
      },
      "PageWalrusBlobEventDTO": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "pageable": {
            "type": "object",
            "properties": {
              "pageNumber": {
                "type": "integer",
                "format": "int32"
              },
              "pageSize": {
                "type": "integer",
                "format": "int32"
              },
              "offset": {
                "type": "integer",
                "format": "int64"
              },
              "sort": {
                "type": "object",
                "properties": {
                  "sorted": {
                    "type": "boolean"
                  },
                  "empty": {
                    "type": "boolean"
                  },
                  "unsorted": {
                    "type": "boolean"
                  }
                }
              },
              "paged": {
                "type": "boolean"
              },
              "unpaged": {
                "type": "boolean"
              }
            }
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "content": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "digest": {
                  "type": "string"
                },
                "senderAddress": {
                  "type": "string"
                },
                "senderName": {
                  "type": "string"
                },
                "senderImg": {
                  "type": "string"
                },
                "blobId": {
                  "type": "string"
                },
                "blobIdBase64": {
                  "type": "string"
                },
                "objectId": {
                  "type": "string"
                },
                "balanceChange": {
                  "type": "integer",
                  "format": "int64"
                },
                "timestamp": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "number": {
[...]
